# --- Core Telegram Engine (Super Fast & Async) ---
pyrofork
tgcrypto
pyropatch
humanize
psutil
pytz

# --- Advanced Async Database Drivers ---
dnspython
motor>=3.3.0
pymongo[srv]>=4.6.0
umongo>=3.1.0

# --- High-Performance Web Server (For 24/7 Alive) ---
Flask>=3.0.0
gunicorn>=21.2.0
Jinja2>=3.1.0
Werkzeug>=3.0.0
itsdangerous>=2.1.0
